.example-spacer {
    flex: 1 1 auto;
  }
  .customize__goto__pokemon {
    height: 2rem;
    width: 5rem;
    border-radius: 4px;
    background: #FFBF00;
    border: 0;
  }
  .style__header__content {
    display: flex;
    align-items: center;
  }